extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias minima eaque laboriosam cumque rerum, quaerat ipsum numquam, vel, ad delectus recusandae expedita in perspiciatis inventore!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, itaque. Aliquid, ea. Perspiciatis dolorem minima, illo id accusantium odio voluptate nam iusto dicta reiciendis tempore repellat eos provident iure enim.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi deleniti, modi ratione nisi unde.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio explicabo similique blanditiis?
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio explicabo similique blanditiis?
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio explicabo similique blanditiis?
